.icon {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    filter: brightness(1.1);
    transition: 0.3s ease;
    rotate: -90deg;
  }
}

.light-mode {
  color: #fcc419;
}

.dark-mode {
  color: $primary-light;
}
