.btn-contact {
  @include type-1(16);
  background: $gray-1;
  border: 1px solid transparent;
  border-radius: em(32);
  padding: 0.4rem 2rem;
  color: $primary;
  transition: 0.3s ease;

  &:hover {
    background: $primary;
    border: 1px solid $gray-1;
    color: $gray-1;
    border-radius: 0;
    transition: 0.3s ease;
  }
}
