.projects-cards {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: em(20);

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      display: flex;
      gap: em(32);
      max-width: 100%;
      height: em(350);
      background-color: $bg-2;
      border-radius: 1rem;
      border: $bg-2 0.2rem solid;
      transition: all 0.4s ease-in;

      @include device(medium) {
        flex-direction: column;
        gap: em(5);
        height: 100%;
      }

      img {
        width: 50%;
        height: 100%;
        object-fit: cover;

        @include device(s-large) {
          width: 40%;
        }

        @include device(medium) {
          width: 100%;
          height: 50%;
        }
      }

      .card__content {
        display: flex;
        flex-direction: column;
        gap: em(20);
        padding: em(20);

        @include device(medium) {
          gap: em(5);
        }

        h2 {
          @include type-1(24);
          color: $gray-2;
        }

        p {
          @include type-1(16);
          color: $gray-4;

          @include device(medium) {
            display: none;
          }
        }

        .card__btns {
          display: flex;
          align-self: flex-end;
          gap: em(20);
          margin-top: em(20);

          @include device(medium) {
            width: 100%;
            flex-direction: column;
            gap: em(10);
          }
        }
      }
    }
  }
}
