@mixin container {
  max-width: 1320px;
  margin: 0 auto;
}

@mixin section {
  display: flex;
  flex-direction: column;
  gap: em(80);
  box-sizing: border-box;
  margin-top: em(80);

  @include device(x-large) {
    padding: 0 em(24);
  }

  @include device(medium) {
    margin-top: em(20);
  }

  @include device(small) {
    gap: em(40);
  }
}

@mixin section-content {
  display: flex;
  flex-direction: column;
  gap: em(32);
}

body {
  background: linear-gradient(to right, $bg-1 35%, $bg-2);

  @include device(small) {
    background: linear-gradient(to right, $bg-1 20%, $bg-2);
  }
}

.opacity {
  opacity: 0.5;
}

.title {
  @include type-1(64);
  color: $gray-1;

  span {
    color: $primary-light;
  }

  @include device(s-large) {
    @include type-1(48);
  }

  @include device(medium) {
    max-width: 100%;
  }

  @include device(x-small) {
    @include type-1(32);
    font-weight: 600;
  }
}

.paragraph {
  @include type-1(24);
  color: $gray-3;

  @include device(s-large) {
    @include type-1(18);
  }

  @include device(medium) {
    max-width: 100%;
  }

  @include device(x-small) {
    @include type-1(16);
  }

  span {
    color: $primary-light;
  }
}
