@mixin container {
  max-width: 1320px;
  margin: 0 auto;
}

body {
  background: linear-gradient(to right, $bg-1 35%, $bg-2);

  @include device(small) {
    background: linear-gradient(to right, $bg-1 20%, $bg-2);
  }
}

button {
  cursor: pointer;
}
