@mixin border-bottom {
  border-bottom: 1px solid $primary;
}

.header {
  padding: em(24);

  .header__content {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content__btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: em(40);
      width: 25%;

      @include device(small) {
        width: 100%;
      }
    }

    .mobile {
      @include border-bottom;
      position: absolute;
      left: 0;
      top: em(100);
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: em(20);
      background: $bg-1;
      width: 100vw;
      height: em(230);
      padding: em(32);

      a {
        @include type-1(18);
        color: $gray-2;
        transition: 0.3s ease;

        &:hover {
          color: $primary-light;
        }
      }
    }
  }
}
