@mixin border-bottom {
  border-bottom: 1px solid $primary;
}

.header {
  @include border-bottom;
  padding: em(24);
  width: 100%;
  position: fixed;

  .header__content {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content__btns {
      display: flex;
      align-items: center;
      gap: 32px;
    }

    .mobile {
      @include border-bottom;
      position: absolute;
      left: 0;
      top: 80px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: em(20);
      background: $bg-1;
      width: 100vw;
      height: em(200);
      padding: em(32);

      a {
        @include type-1(18);
        color: $gray-2;
        transition: 0.3s ease;

        &:hover {
          color: $primary-light;
        }
      }
    }
  }
}
