.navbar {
  display: flex;
  max-width: 100%;
  gap: em(40);

  a {
    @include type-1(16);
    color: $gray-2;
    transition: 0.3s ease;

    &:hover {
      color: $primary-light;
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background: $primary-light;
      display: block;
      transition: 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
