.tech {
  @include container;
  @include section;

  .title {
    @include device(small) {
      font-size: em(32);
    }
  }

  .tech__info {
    @include section-content;
  }

  .tech-icon {
    display: flex;
    gap: em(64) em(80);
    width: 50vw;
    flex-wrap: wrap;

    @include device(x-large) {
      width: 100%;
    }

    @include device(small) {
      overflow-x: auto;
      flex-wrap: nowrap;
      padding: 2rem 0;
    }

    .icon__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: em(20);

      svg {
        font-size: em(100);
        color: $gray-4;
        transition: 0.3s ease;
        cursor: pointer;

        @include device(small) {
          font-size: em(120);
        }
      }

      p {
        @include type-1(18);
        color: $gray-4;
      }

      &:hover svg {
        transform: scale(1.1);
        transition: 0.3s ease;
      }

      &:hover p {
        font-weight: 600;
        transition: 0.3s ease;
      }

      &:hover:first-child :where(svg, p) {
        color: #e56027;
        filter: drop-shadow(0px 0px 80px #e56027);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(2) :where(svg, p) {
        color: #2760e5;
        filter: drop-shadow(0px 0px 80px #2760e5);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(3) :where(svg, p) {
        color: #35b3eb;
        filter: drop-shadow(0px 0px 80px #35b3eb);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(4) :where(svg, p) {
        color: #c36291;
        filter: drop-shadow(0px 0px 80px #c36291);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(5) :where(svg, p) {
        color: #ead41c;
        filter: drop-shadow(0px 0px 80px #ead41c);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(6) :where(svg, p) {
        color: #5ccfee;
        filter: drop-shadow(0px 0px 80px #5ccfee);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(7) :where(svg, p) {
        color: #0074c2;
        filter: drop-shadow(0px 0px 80px #0074c2);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(8) :where(svg, p) {
        color: #89bb3c;
        filter: drop-shadow(0px 0px 80px #89bb3c);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(9) :where(svg, p) {
        color: #30628a;
        filter: drop-shadow(0px 0px 80px #30628a);

        @include device(small) {
          filter: none;
        }
      }
      &:hover:nth-child(10) :where(svg, p) {
        color: #e44c30;
        filter: drop-shadow(0px 0px 80px #e44c30);

        @include device(small) {
          filter: none;
        }
      }
    }
  }
}
