.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container;
  box-sizing: border-box;
  margin-top: em(120);
  position: relative;

  @include device(x-large) {
    padding: 0 em(24);
  }

  .main__content {
    display: flex;
    flex-direction: column;
    gap: em(24);
  }

  .title {
    @include type-1(64);
    color: $gray-1;
    max-width: 12ch;

    span {
      color: $primary-light;
    }
  }

  .bio {
    @include type-1(24);
    color: $gray-3;
    max-width: 35ch;
  }

  .main__img {
    position: absolute;
    right: 0;
    top: -20px;
    animation: animationImg 1.5s ease-in-out infinite alternate;
  }
}

@keyframes animationImg {
  100% {
    top: 10px;
  }
}
